html {
    height: 100%; /* <------------ */
}

body {
    height: 100%; /* <------------ */
}

div.show {
    height: 100%;
}

section {
    display: block;
    width: 100%;
    min-height: 600px;
    height: 80%;
    background-color: #ecf0f1;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, .1);
    box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
    color: #34495e;
    text-shadow: 0 2px 2px rgba(0, 0, 0, .1);
}

section h1 {
    font-size: 3em;
    min-width: 200px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

section h1,
section h2,
section h3,
section ul,
section p {
    padding: 0 0 0 40px;
}

slide {
    width: 50%;
    float: left;
}

slide section {
    display: none;
}

section.active {
    display: block;
    height: 100%;
}

code {
    width: 49%;
    float: right;
    color: #ecf0f1;
    font-size: 1.5em;
    background-color: #34495e;
    border-radius: 10px;
    min-height: 600px;
    height: 80%;
}

.full {
    width: 100%;
    height: 100%;
}

.full slide {
    width: 100%;
}

.full code {
    display: none;
}

.hidden {
    display: none;
}