html {
    height: 100%; /* <------------ */
}

body {
    height: 100%; /* <------------ */
    overflow:hidden;
}

div.show {
    height: 100%;
}

section {
    font-size: 1em;
    display: block;
    width: 100%;
    min-height: 600px;
    height: 80%;
    background-color: #ecf0f1;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, .1);
    box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
    color: #34495e;
    text-shadow: 0 2px 2px rgba(0, 0, 0, .1);
}

section h1 {
    font-size: 4em;
    min-width: 200px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

section h2 {
    font-size: 2.8em;
}

section h1,
section h2,
section h3,
section ul,
section b,
section p {
    padding: 0 0 0 40px;
}

section b,
section strong {
    font-size: 2em;
}

section ul {
    margin-left: 5em;
}

section ul li {
    font-size: 2.2em;
}

section.first h1 {
    top: 30%;
    font-size: 5em;
    position: relative;
}

section.first h2 {
    font-size: 2.5em;
    color: #00bcd4;
    top: 30%;
    left: 60%;
    position: relative;
}

slide {
    width: 50%;
    float: left;
}

slide section {
    display: none;
}

section.active {
    display: block;
    height: 100%;
    position: relative;
}

code {
    width: 49%;
    float: right;
    color: #ecf0f1;
    font-size: 1.5em;
    background-color: #34495e;
    border-radius: 10px;
    min-height: 600px;
    height: 80%;
}

img {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;

    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
    img {
        left: 50%;
        margin-left: -512px;   /* 50% */
    }
}

.full {
    width: 100%;
    height: 100%;
}

.full slide {
    width: 100%;
}

.full code {
    display: none;
}

.hidden {
    display: none;
}